:root {
    --unterlage-unten-1: #B8B8B8;
    --unterlage-unten-2: #505050;
    --dropdown-color: #505050;
}

@font-face {
    font-family: "F1";
    src: url("font/Formula1-Regular.ttf");
  }

body {
    font-family: F1;
}


/*Menu*/



.unterlage-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 70px;
    background-color: var(--unterlage-unten-1);
    border-right: 20px;
    border-bottom-right-radius: 20px 20px;
}

.unterlage-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 60px;
    background-color: var(--unterlage-unten-2);
    border-right: 20px;
    border-bottom-right-radius: 20px 20px;
}

.writings {
    margin-left: 20px;
    width: 700px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-menu {
    position: absolute;
    right: 0;
    top: 0;
}

img {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    margin-top: 8px;
    border-radius: 20px;
}
/*Unterpunkte richten*/
.F1-writing, .More-writing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}



.unterpunkte-f1  {
    display: none;
    position: absolute;
    height: 250px;
    width: 230px;
    margin-top: -23px;
    margin-left: -30px;
    background-color: var(--dropdown-color);
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    color: black;
}

.unterpunkte-more {
    display: none;
    position: absolute;
    height: 150px;
    width: 190px;
    margin-top: -23px;
    margin-left: -30px;
    background-color: var(--dropdown-color);
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    color: black;
}



/*.Element1 ~ .Element2: Sagt das Element2 aktiviert werden soll wenn Element1 gehovered wird */

.F1-writing:hover ~ .unterpunkte-f1 {
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.More-writing:hover ~ .unterpunkte-more {
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.unterpunkte-f1:hover, .unterpunkte-more:hover {
    display: flex;
    flex-direction: column;
}


@media (max-width: 845px) {
    img {
        visibility: hidden;
    }
}

@media (max-width: 760px) {
    .writings {
        width: 95%;
    }
}



a {
    text-decoration: none;
    color: white;
}

/*Menu auf Handy*/

@media (max-width: 612px) {

.writings, .unterpunkte-f1, .unterpunkte-more {
    all: unset;
}

}

/*Menu ende*/