:root {
  --background: rgba(46, 46, 46, 0.7);
  --videobackground: #616161;
  --button: #333333;
  --button-hover-background: #808080;
}

body {
  background-color: white;
}

@font-face {
  font-family: "F1";
  src: url("/1. Anderes/font/Formula1-Regular.ttf");
}


  .welcome-pic {
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -999;
  }

    /*ALLGEMEIN*/

    button {
      position: absolute;
      height: 5vh;
      width: 25vh;
      bottom: 3vh;
      border-radius: 20px;
      background-color: var(--button);
      cursor: pointer;
      color: white;
      font-family: f1;
      border: none;
    }
  
    button:hover {
      background-color: var(--button-hover-background);
      color: black;
      font-weight: bold;
    }


    /*WELCOME (1/4)*/

  .welcome {
    position: absolute;
    display: flex;
    top: 30vh;
    left: 48%;
    width: 45%;
    height: 23rem;
    width: 45%;
    background-color: var(--background);
    color: white;
    justify-content: center;
    border-radius: 20px;
  }

  .welcome h1 {
    position: absolute;
    margin-top: 3%;
  }

  .welcome p {
    position: absolute;
    margin: 0 5vh 0;
    margin-top: 15%;
  }

  


  /*LATEST VIDEO (2/4)*/

  .latestvideo {
    position: absolute;
    display: flex;
    top: 140vh;
    left: 7%;
    width: 50%;
    height: 30rem;
    width: 45%;
    background-color: var(--background);
    color: white;
    justify-content: center;
    border-radius: 20px;
  }

  #overtext {
    position: absolute;
    margin-top: 3%;
  }

  .video {
    position: absolute;
    top: 13%;
    height: 50vh;
    width: auto;
  }
 

  /*DISCORD (3/4)*/

  .discord {
    position: absolute;
    display: flex;
    top: 290vh;
    left: 48%;
    width: 45%;
    height: 23rem;
    width: 45%;
    background-color: var(--background);
    color: white;
    justify-content: center;
    border-radius: 20px;
  }

  .discord h1 {
    position: absolute;
    margin-top: 3%;
  }

  .discord p {
    position: absolute;
    margin: 0 5vh 0;
    margin-top: 17%;
  }


  /*BUG MESSAGE (4/4)*/

  .bug-message {
    position: absolute;
    display: flex;
    top: 415vh;
    left: 7%;
    width: 45%;
    height: 23rem;
    width: 45%;
    background-color: var(--background);
    color: white;
    justify-content: center;
    border-radius: 20px;
  }

  .bug-message h1 {
    position: absolute;
    margin-top: 3%;
  }

  .bug-message p {
    position: absolute;
    margin: 0 5vh 0;
    margin-top: 17%;
  }


