:root {
  --background: rgb(46, 46, 46);
  --videobackground: #616161;
  --button: #333333;
  --button-hover-background: #808080;
}

body {
  height: 180vh;
}

@font-face {
  font-family: "F1";
  src: url("/1. Anderes/font/Formula1-Regular.ttf");
}

.welcome-pic {
  display: flex;
  position: block;
  width: 100%;
  top: -70px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  top: 0px;
  z-index: 2;
}

.latestvideo {
  position: block;
  display: flex;
  justify-content: center;
  height: 400px;
  z-index: 1;
}

.background-video {
  position: absolute;
  width: 110vh;
  height: 60vh;
  margin-top: -120px;
  border-radius: 30px;
  opacity: 0.7;
  background-color: var(--videobackground);
  z-index: -2;
}

button {
  position: absolute;
  font-family: F1;
  display: flex;
  justify-content: center;
  background-color: var(--button);
  align-items: center;
  color: white;
  margin-top: 290px;
  letter-spacing: 2px;
  height: 30px;
  width: 250px;
  border-radius: 15px;
  opacity: 0.6;
  z-index: 4;
}

.video {
  position: absolute;
  margin-top: -40px;
  z-index: 3;
}

button:hover {
  background-color: var(--button-hover-background);
  color: black;
}

.overtext {
  position: relative;
  text-align: center;
  width: 100vh;
  top: -90px;
  z-index: 4;
  color: white;
}

@media only screen and (max-width: 1244px) {
  body {
    height: 110vh;
  }
  .welcome-pic {
    margin-top: -40px;
    width: 100%;
  }

  .latestvideo {
    margin-top: 100px;
  }

  .background-video {
    width: 80vh;
  }

  .overtext {
    width: 80vh;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }
}

@media only screen and (max-width: 880px) {
  .welcome-pic {
    margin-top: 0px;
  }
}


@media only screen and (max-width: 750px) {
  .latestvideo {
    margin-top: 120px;
    height: 300px;
  }

  .background-video {
    width: 40vh;
    height: 25vh;
  }

  .overtext {
    width: 40vh;
    height: 20vh;
    margin-top: -250px;
    height: auto;
    display: flex;
    align-items: center;
  }

  button {
    margin-top: 0px;
    width: 150px;
  }
  .video {
    display: none;
  }
}

@media only screen and (max-width: 340px) {
  .latestvideo {
    margin-top: 120px;
    height: 300px;
  }

  .background-video {
    width: 35vh;
    height: 20vh;
  }

  .overtext {
    width: 50vh;
    height: 20vh;
    margin-top: -250px;
    height: auto;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 300px) {
  .latestvideo {
    margin-top: 120px;
    height: 300px;
  }

  .background-video {
    width: 30vh;
    height: 25vh;
  }

  .overtext {
    width: 50vh;
    height: 20vh;
    margin-top: -230px;
    height: auto;
    display: flex;
    align-items: center;
  }
  
  button {
    margin-top: 30px;
  }
}