:root {
  --background: rgb(46, 46, 46);
}
body {
  background-color: var(--background);  
}

@font-face {
    font-family: "F1";
    src: url("/1. Anderes/font/Formula1-Regular.ttf");
  }


.welcome-pic {
  display: flex;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  top: 0px;
  z-index: -2;
}
@media only screen and (max-width: 600px) {

  .welcome-pic{
    margin-top: 0;
  }

  }