/* Calendar Styles */
.calendar {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 0.5rem;
  background-color: #444444;
  box-shadow: 0 0 10px rgba(145, 145, 145, 0.2);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 95vh;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #202020;
  color: #ffff;
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.calendar-weekdays {
  display: none;
}

.calendar-days {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  align-items: center;
  text-align: center;
  grid-template-rows: repeat(6, 1fr);
}

.calendar-days > div {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.calendar-days > div:hover {
  background-color: #e1e1e15a;
  height: 10vh;
}

.today {
  background-color: #ffffff;
  color: #000000;
  height: 10vh;
}
.today:hover {
  color: #ffffff;
  height: 10vh;
}

.prev-month,
.next-month {
  display: none;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  .calendar {
    height: 89vh;
  }

  .calendar-days > div {
    padding: 5px;
    margin: 2.5px;
  }
}
