:root {
  --background: rgb(64, 64, 64);
  --button: #333333;
  --button-hover-background: #808080;
}

@font-face {
    font-family: "F1";
    src: url("/1. Anderes/font/Formula1-Regular.ttf");
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    background-color: #fff;
    margin: 0; 
  }

  .main-content {
    flex: 1;
  }
  
  /* Hero Section */
  #hero {
    background-color: #f3f3f3;
    padding: 3rem 0;
    text-align: center;
  }
  
  #hero h1 {
    font-size: 2.5rem;
  }
  
  #hero p {
    font-size: 1.25rem;
  }

  section {
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  .standings {
    display: flex;
    justify-content: center;
  }

  .dt-standings {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 1400px;
    height: 600px;
    border-radius: 30px;
    background-color: var(--background);
  }

  .driver-pic, .team-pic {
    width: auto;
    height: 550px;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
  }

  button {
    font-family: F1;
    display: flex;
    justify-content: center;
    background-color: var(--button);
    align-items: center;
    color: white;
    letter-spacing: 2px;
    height: 30px;
    width: 350px;
    border-radius: 15px;
    opacity: 0.6;
    z-index: 4;
  }

  button:hover {
    background-color: var(--button-hover-background);
    color: black;
  }

  footer {
    margin-top: 10%;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }